
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    background-color: black;
}


body {
    background: url('img2.jpg') no-repeat center center/cover;
    background-attachment: fixed; 
}


.game-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #00aaff;
    z-index: 1;
}

h1 {
    font-size: 4rem;
    letter-spacing: 2px;
    color: #00aaff;
    text-shadow: 0px 0px 10px rgba(0, 170, 255, 0.8), 0px 0px 20px rgba(0, 170, 255, 0.6);
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}

button {
    padding: 20px 40px;
    font-size: 1.4rem;
    background-color: #00aaff;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 170, 255, 0.6);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0088cc;
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 170, 255, 0.8);
}


#exercise {
    margin-top: 20px;
    font-size: 2rem; 
}


#question {
    font-size: 2.2rem; 
}

input {
    padding: 10px;
    font-size: 1.2rem;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    text-align: center;
    outline: none;
}

input:focus {
    background-color: rgba(0, 170, 255, 0.3);
}

#feedback {
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ffffff;
}

#timer {
    font-size: 1.5rem;
    color: #ff4500;
    text-shadow: 0px 0px 10px rgba(255, 69, 0, 0.8);
}


#result {
    font-size: 2rem;
    color: #00ff00;
    text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.8);
    margin-top: 30px;
}
.score-container {
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
}

